@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);

body {
    background-color: #333;
    background-image: url(../img/noise.png);
    color: #fff;
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
}

section{
	position: absolute;
	text-align: center;
	left: 0;
	height: 100%;	
	top: 45%;
}

a, a:link{
	color: #fff;
	text-decoration: none;
}

a:hover,.boton:hover{
	color: #fff; 
	text-decoration: none;
	text-shadow: 0em 0em .5em rgba(255, 255, 255, 1);
}

.botonX{
	background-color: #555;
	border-radius: 3px;
	font-size: .8em;
	position: absolute;
	padding: 0 5px;
	text-align: center;
	right: 15%;
	top: 0;
}

.boton{
    border: solid 1px #DDD;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
}

.centrado {
	text-align: center;
}

#publicidad {
	position: absolute;
	left: 0;
	z-index: 1000;
}

.bienvenida {
	padding-top: 20px;
	padding-bottom: 20px;
}

.inputImg{
	padding: 10px;
}

.espacio {
	display: inline-block;
	padding-right: .2em;
}

.espacio2 {
	display: inline-block;
	padding-right: 30em;
}

.espacio3 {
	display: inline-block;
	padding-right: 4em;
	padding-bottom: 1em;
}

.item{
	background: rgba(0, 0, 0, 0.8);
	height:100px;
	padding:20px 100px;
}

.blue{background: rgba(0, 0, 255, 0.8);}
.red{background: rgba(255, 0, 0, 0.8);}
.yellow{background: rgba(255, 240, 0, 0.8);}

#uno, #dos, #entrar{
	margin-bottom: 20%;
}

#enviar{
	margin-bottom: 10%;
}


canvas{
	position: absolute;
	width: 100%;
	left:0;
}

header{
	position: fixed;
	left: 0;
	height:80px;
	width: 100%;
	text-align: center;
	background-color:#000;
	z-index: 999;
}

nav li{
	line-height: 3;
    border-right: thin solid;
    display:inline-block;
    vertical-align:top;
    padding:0em 1em;
}

nav li:nth-child(2n), nav li:nth-child(3n){
    border:0;
}

nav ul{
    list-style:none;
}

footer{
	position: fixed;
	text-align: center;
	height: 17%;
	width: 100%;
	left: 0;
	bottom: 0;
}

@media all and (max-width: 700px){

section{
	position: absolute;
	text-align: center;	
	top: 30%;
	height: 150%;
}

footer{
	position: fixed;
	text-align: center;
	width: 100%;
	left: 0;
	bottom: -100; 
	height: 30%;
}

header{
	font-size: .6em;
}

nav li{
	line-height: 6;
    border-right: thin solid;
    display:inline-block;
    padding:0em .5em;
}

canvas{
	top: 80px;
}

.espacio2{
	display: none;
}

.inputImg{

}

}
